In [1]:
import numpy as np
import pandas as pd
import dias.rewriter

In [2]:
# load & cleanup
file = './datasets/kkhandekar__environmental-vs-ai-startups-india-eda__Startup_Counts_Across_India.csv'
df = pd.read_csv(file)

# -- STEFANOS -- Replicate Data

In [3]:
factor = 3000
df = pd.concat([df]*factor)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17673000 entries, 0 to 5890
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   S No.     int64
 1   Year      int64
 2   State     object
 3   Industry  object
 4   Count     int64
dtypes: int64(3), object(2)
memory usage: 809.0+ MB

# -- STEFANOS -- Prelude

In [4]:
%%time
df.drop('S No.',axis=1,inplace=True)
df.dropna(inplace=True)
df.reset_index(inplace=True,drop=True)

#view
df.head()

CPU times: user 2.43 s, sys: 194 ms, total: 2.63 s
Wall time: 2.62 s

,Year,State,Industry,Count
0,2022,Andaman and Nicobar Islands,Agriculture,1
1,2022,Andaman and Nicobar Islands,AR VR (Augmented + Virtual Reality),1
2,2022,Andaman and Nicobar Islands,Construction,1
3,2022,Andaman and Nicobar Islands,Internet of Things,1
4,2022,Andaman and Nicobar Islands,Marketing,1

In [5]:
%%time
# Industry sub-categories for environmental & AI startups
env = ['Agriculture','Green Technology','Renewable Energy','Waste Management']
ai = ['AI','Robotics','Computer Vision']

CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.86 µs

# -- STEFANOS -- Fuse `.isin()`

*Original*: 700ms

*Rewritten*: 338ms

## Speedup: 2x

In [6]:
%%time
%%rewrite
df_ea = df.loc[(df['Industry'].isin(env)) | (df['Industry'].isin(ai))].reset_index(drop=True,inplace=False)

CPU times: user 295 ms, sys: 20.6 ms, total: 315 ms
Wall time: 314 ms