## Explanation

In both cases below, the rewriter is not removing the `axis=1` because the correctness check in the code goes like this: If I have an `ast.Name` and its `.id` is equal to the row argument, and the encloser is not a `ast.Subscript`, then don't apply the pattern.
In both cases, we have the statement `copy = row`. `row` appears there and its encloser is not a `ast.Subscript`.

In the first case, the rewriter is incorrectly conservative while in the second, it is correctly conservative.

In [1]:
import pandas as pd
import rewriter

In [2]:
%%rewrite
df = pd.read_csv('titanic.csv')

--------- Final Source -----------
df = pd.read_csv('titanic.csv')

{"raw": "df = pd.read_csv('titanic.csv')\n",
"modified": "df = pd.read_csv('titanic.csv')\n"},

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
def foo(row):
    if row['Fare'] > 10:
        return True
    copy = row
    return False

In [5]:
%%rewrite
our = df.apply(foo, axis=1)

--------- Final Source -----------
our = df.apply(foo, axis=1)

{"raw": "our = df.apply(foo, axis=1)\n",
"modified": "our = df.apply(foo, axis=1)\n"},

In [6]:
def bar(row):
    if row['Fare'] > 10:
        return True
    copy = row
    if copy['Survived'] == 1:
        return True
    return False

In [7]:
%%rewrite
our = df.apply(bar, axis=1)

--------- Final Source -----------
our = df.apply(bar, axis=1)

{"raw": "our = df.apply(bar, axis=1)\n",
"modified": "our = df.apply(bar, axis=1)\n"},